* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.box1 {
	width: 960px;
	margin: 50px 1px;
}
.contents{
	float: left;
	width: 300px;
	border: 1px solid #f0f0f0;
	margin-right: 30px;
}
.contents:last-child{
  margin-right: 0;
}
span {
	position: absolute;
	background-color: orange;
	color: white;
	padding: 3px;
}
.box2 {
	padding: 10px;
}
img {
	width: 280px;
}
h3 {
	padding: 10px 0;
}