* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.box1 {
	width: 960px;
	margin: 50px auto;
	line-height: 50px;

}
p {
	padding-left: 20px;
}
p:nth-child(odd) {
	background-color: #eeeeee;
}
.box2 {
	margin-top: 50px;
}
.box2-2 {
	width: 30%;
	height: 200px;
	float: left;
	background-color: yellow;
}
.box2-2:nth-child(-n+6){
	margin-bottom: 40px;
}
.box2-2:nth-child(n+7){
	margin-bottom: 50px;
}
.box2-2:nth-child(3n+1),
.box2-2:nth-child(3n+2)
{
	margin-right: 5%;
}
.box2-2:nth-child(4n+1){
	background-color: orange;
}